* {
    box-sizing: border-box;
 }
 h1 {
    text-align: center;
 }

.outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
 }
 .inner-grid {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-right: 14px;
 }
 .inner-grid img {
    width: 100%;
    padding: 0 10px 15px 0;
 }
 @media screen and (max-width: 800px) {
    .inner-grid {
       flex: 50%;
       max-width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .inner-grid {
       flex: 100%;
       max-width: 100%;
    }
 }

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }


.image-container {
    position: relative;
    text-align: center;
    color: black;
    background-size: cover;
    height: 350px;
    width: auto;
    padding: 20px 40px 0px 40px;
    margin-bottom: 20px;
    border-radius: 8%;
}

.text 
{
    min-height: 80%;
    opacity: 0;
    padding-left: 15px;
    padding-right: 15px;
}

#battleship
{
    background-image: url('https://t4.ftcdn.net/jpg/03/50/71/31/360_F_350713120_Dndkp2TZzdIu9kkV4aXJ3rX34N9ACRzF.jpg');
}

#battleship:hover .text, #website:hover .text, #bunco:hover .text, #database:hover .text
{
    background-color: rgba(255,255,255,0.8);
    opacity: 1;
}

#website
{
    background-image: url('https://t4.ftcdn.net/jpg/01/62/82/33/360_F_162823397_4G6CXHnCxRqfWTOOcO62aMYefMqCJfaE.jpg');
}

#bunco
{
    background-image: url('https://www.liveabout.com/thmb/oD2sGAnKtdZnxx5p0ivTIziC7UI=/2242x2242/smart/filters:no_upscale()/GettyImages-93453966-59684e1d3df78c57f49b0c91.jpg');
}

#database
{
    background-image: url('https://media.istockphoto.com/vectors/database-icon-vector-id1309384972?k=20&m=1309384972&s=612x612&w=0&h=cdD2GoO4e2_w4ppe4akKaG8mBdUfwDav-7_wwqQ6BX8=');
}
